<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product List</h1>
    <div>
    <a href="/new">Create New Product</a>
    </div>
    <br/>

    <div>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>
                <a th:href="@{/page/{pageNum}?sortField=id&sortDir={sortDir}(pageNum=${currentPage},sortDir=${reverseSortDir})}">Product ID</a>
            </th>
            <th>
               <a th:href="@{/page/{pageNum}?sortField=name&sortDir={sortDir}(pageNum=${currentPage},sortDir=${reverseSortDir})}">Name</a>
            </th>
            <th>
                <a th:href="@{/page/{pageNum}?sortField=brand&sortDir={sortDir}(pageNum=${currentPage},sortDir=${reverseSortDir})}" >Brand</a>
            </th>
            <th>
                <a th:href="@{/page/{pageNum}?sortField=madein&sortDir={sortDir}(pageNum=${currentPage},sortDir=${reverseSortDir})}">Made In</a>
            </th>
            <th>
                <a th:href="@{/page/{pageNum}?sortField=price&sortDir={sortDir}(pageNum=${currentPage},sortDir=${reverseSortDir})}">Price</a>
            </th>
            <th>
                <a>Actions</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${productList}">
            <td th:text="${product.id}">Product ID</td>
            <td th:text="${product.name}">Name</td>
            <td th:text="${product.brand}">Brand</td>
            <td th:text="${product.madein}">Made in</td>
            <td th:text="${product.price}">Price</td>
            <td>
                <a th:href="@{/edit/{id}(id=${product.id})}">Edit</a>

                &nbsp;&nbsp;&nbsp;
                <a th:href="@{/delete/{id}(id=${product.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <br/>
    <div><i>Sorted by [[${sortField}]] in [[${sortDir}]] order</i></div>
    <br/>
    <div>
        Total Items: [[${totalItems}]] - Page [[${currentPage}]] of [[${totalPages}]]
        &nbsp;- &nbsp;
        <a th:if="${currentPage > 1}" th:href="@{/page/1?sortField={sortField}&sortDir={sortDir}(sortField=${sortField},sortDir=${sortDir})}">First</a>
        <span th:unless="${currentPage > 1}">First</span>
        &nbsp;
        <a th:if="${currentPage > 1}" th:href="@{/page/{pageNum}?sortField={sortField}&sortDir={sortDir}(pageNum=${currentPage -1},sortField=${sortField},sortDir=${sortDir})}">Previous</a>
        <span th:unless="${currentPage > 1}">Previous</span>
        &nbsp;
        <span th:each="i:${#numbers.sequence(1, totalPages)}">
            <a th:if="${i != currentPage}" th:href="@{/page/{pageNum}?sortField={sortField}&sortDir={sortDir}(pageNum=${i},sortField=${sortField},sortDir=${sortDir})}">[[${i}]]</a>
            <span th:unless="${i != currentPage}">[[${i}]]</span>
            &nbsp;&nbsp;
        </span>

        <a th:if="${currentPage < totalPages}" th:href="@{/page/{pageNum}?sortField={sortField}&sortDir={sortDir}(pageNum=${currentPage +1},sortField=${sortField},sortDir=${sortDir})}">Next</a>
        <span th:unless="${currentPage < totalPages}">Next</span>
        &nbsp;
        <a th:if="${currentPage < totalPages}" th:href="@{/page/{pageNum}?sortField={sortField}&sortDir={sortDir}(pageNum=${totalPages},sortField=${sortField},sortDir=${sortDir})}">Last</a>
        <span th:unless="${currentPage < totalPages}">Last</span>


    </div>

</div>
</body>
</html>